@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:wght@100;300&display=swap');

div {
    font-family: 'Questrial', sans-serif;
}

div.containerProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgba(113, 18, 18, 0.113);
    height: 200px;
    max-height: 250px;
    font-weight: bold;
}

div.userContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    width: 100%;
}

div.userContent img {
    width: 6rem;
    border-radius: 50%;
    margin-right: 10%;
    margin-left: 5%;
    transition: 0.3s;
}

@media screen and (max-width: 729px) {
    div.userContent img {
        display: none;
    }
}

div.userContent img:hover {
    width: 6.6rem;
    border-radius: 50%;
    margin-right: 10%;
    margin-left: 5%;
}

div.contentProfile {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

div.contentProfile li {
    list-style-type: none;
    padding-bottom: 5px ;
}

div.contentProfile h4 {
    color: #8DC44D;
}

div.contentProfile h4 {
    color: #8DC44D;
}

@media screen and (max-width: 729px) {
    button.buttonEdit {
       display: none;
    }
}

div.contentProfile h4:hover {
    color: #5d3aae7e;
    cursor: context-menu;
}

div.buttonProfile {
   
    display: flex;
    align-self: start;
    margin: auto 34px;
}

button.buttonEdit {
    width: 10rem;
    background-color: #8DC44D !important;
    border-radius: 20px !important;
    border: transparent !important;
    padding: 7px 33px !important;
    color: white !important;
    transition: 0.4s ease-in-out !important;
}

button.buttonEdit:hover {
    background-color: #8DC44D !important;
    border-radius: 25px;
    border: transparent;
    padding: 7px 33px;
    color: white;
    margin-top: 5px;
    box-shadow: 0px -10px 13px #8dc44d25;
}

@media screen and (max-width: 729px) {
    div.buttonProfile {
       width: 2px;
    }
}